    <h1>
  Random Results
</h1>

<dl>
  <dt>
    Minimum
  </dt>
  <dd>
    <%=@min_no%>
  </dd>

  <dt>
    Maximum
  </dt>
  <dd>
    <%=@max_no%>
  </dd>

  <dt>
    Random Number
  </dt>
  <dd>
    <%=@pick_random%>
  </dd>
</dl>

<a href="/random/new">
  Pick another random number
</a>
